---
---

@import "{{ site.theme }}";

/*Note: If you'd like to change the theme's Sass variables, you must set new values before the @import line in your stylesheet.*/

@media screen and (max-width: 720px) {
  *{
    left:50%;
    transform: translateX(-50%);
  }
  table {
    display: block !important;
    width: 100% !important;
    overflow-x: auto !important; /* Use auto to display the scrollbar only when necessary */
    
    white-space: nowrap !important; /* Prevents the table from wrapping content */
  
  }
  table th, table td {
  padding: 8px !important;
  text-align: left;
  border-bottom: 1px solid #ddd !important;
  }
  
}
