---
---

@import "{{ site.theme }}";

/*Note: If you'd like to change the theme's Sass variables, you must set new values before the @import line in your stylesheet.*/

table {
  width: 100%;
  overflow-x: auto;
  display: block;
  white-space: nowrap;
}

table th, table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 720px) {
  table {
    display: block;
    width: 100%;
    overflow-x: scroll;
  }
}
